mat-toolbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#login-button {
    float: right;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

#name-span {
    float: left;
    margin-left: 10px;
    font-size: 30px;
}

nav a button {
    color: rgb(226, 243, 255);
    font-size: 22px;
}

nav a.active button{
    color: rgb(95, 191, 255);
}

.half-toolbar {
    display: flex;
}

#first-half {
    justify-content: start;
}

#second-half {
    justify-content: end;
}

#login {
    margin-left: 20px;
}