<mat-toolbar color="primary">
  <div class="half-toolbar" id="first-half">
  <span id="name-span">
    News Portal
  </span>
  <nav><a routerLink="articles" routerLinkActive="active"><button mat-button>Articles</button></a> 
    <a routerLink="themes" routerLinkActive="active"><button mat-button>Themes</button></a>
    <a routerLink="authors" routerLinkActive="active"><button mat-button>Authors</button></a>
    <a *ngIf="login.length > 0" routerLink="write" routerLinkActive="active"><button mat-button>Write an article</button></a>
    <a *ngIf="login.length > 0" routerLink="drafts" routerLinkActive="active"><button mat-button>Drafts</button></a>
  </nav>
  </div>
  <div class="half-toolbar" id="second-half">
  <span id="date-span">
    {{currentDate | date: 'dd/MM/yyyy'}}
  </span>
  <span id = "login">
    {{login}}
    <button *ngIf="login.length == 0" mat-button id="login-button" (click)="loginButtonPressed()">Log in</button>
    <button *ngIf="login.length > 0" mat-button id="logout-button" (click)="logoutButtonPressed()">Log out</button>
    </span>
    </div>
</mat-toolbar>