<section id="loginContent">
  <form [formGroup]="loginControl">
<div color="primary" class="form-container">
    <mat-form-field>
      <input matInput placeholder="Login" formControlName="username">
    </mat-form-field>
  
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
  
<div class="footer">
  <button type="submit" (click) = "login()" mat-raised-button>Login</button>
  <button mat-button (click)="toRegistration()">Sign up</button>
</div>
</form>
</section>
<section id="registrationContent">
  <form [formGroup]="registerControl">
  <div color="primary" class="from-container">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Repeat Password" formControlName="repeatPassword">
    </mat-form-field>
  </div>
  <div class="footer">
    <button type="submit" mat-raised-button (click)="signUp()">Sign up</button>
    <button mat-button (click)="toLogin()">Sign in</button>
  </div>
  </form>
</section>
