<mat-form-field>
    <mat-label>Sorted by</mat-label>
    <mat-select>
      <mat-option *ngFor="let criteria of sortingCriterias" [value]="criteria">
        {{criteria}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div infiniteScroll [infiniteScrollThrottle]="50" (scrolled)="onScroll()" id ="articles-wrapper">
    <div *ngFor="let article of articles" class="article-wrapper">
        <h2>{{article.heading}}</h2>
        <p class="article-text">
            {{article.text}}
        </p>
        <button mat-button (click)="upvote(article)">{{article.upVotes}}<span class="arrow-icon upvote">⤴</span></button>
        <button mat-button (click)="downvote(article)">{{article.downVotes}}<span class="arrow-icon downvote">⤵</span></button>
        <label class="views-lbl">{{article.views}}👁</label>
        <!--<button mat-button>Expand</button>-->
    </div>
</div>